URxvt*termName: rxvt-unicode
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
!! ~/.Xresources:
! Some random settings
URxvt*buffered: true
URxvt*hold: false
URxvt*loginShell: true
URxvt*savelines: 10000

! UI settings i guess
URxvt*fading: 10
URxvt*shading: 10
URxvt*transparent: false
URxvt*visualBell: false
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: true
URxvt*scrollWithBuffer: true

! Mouse click URL Launcher
URxvt*matcher.button: 1
URxvt*perl-ext:
URxvt*perl-ext-common: default,matcher
URxvt*url-launcher: firefox

! Death to Scrollbars
*URxvt*scrollBar: false

! Dem fonts tho
URxvt*letterSpace: -1
!URxvt.font: xft:gohufont:size=14:antialias=false:hinting=false
URxvt.font: xft:SourceCodePro:size=10:antialias=true:hinting=true
!URxvt.font: xft:Menlo-Regular:size=10:antialias=true:hinting=true

!! Colorizing things (needs work)

*background: #333333
*foreground: #dbdbdb

! black
 *.color0:       #383838
! *.color8:       #3f3f3f

! ! red
 *.color1:       #cc9393
 *.color9:       #dca3a3

! ! green
 *.color2:       #7f9f7f
 *.color10:      #8fb28f

! ! yellow
 *.color3:       #d0bf8f
 *.color11:      #e0cf9f

! ! blue
 *.color4:       #7eb8de
 *.color12:      #95bdd6

! ! magenta
 *.color5:       #9c6363
 *.color13:      #ac7373

! ! cyan
 *.color6:       #8cd0d3
 *.color14:      #93e0e3

! ! white
 *.color7:       #dcdccc
 *.color15:      #ffffef

! special # yeah ... "special"
!*.foreground:   #dcdccc
!*.background:   #383838
!*.cursorColor:  #dcdccc

! black
!*.color0:       #383838
!*.color8:       #3f3f3f

! red
!*.color1:       #cc9393
!*.color9:       #dca3a3

! green
!*.color2:       #7f9f7f
!*.color10:      #8fb28f

! yellow
!*.color3:       #d0bf8f
!*.color11:      #e0cf9f

! blue
!*.color4:       #dfaf8f
!*.color12:      #f0dfaf

! magenta
!*.color5:       #9c6363
!*.color13:      #ac7373

! cyan
!*.color6:       #8cd0d3
!*.color14:      #93e0e3

! white
!*.color7:       #dcdccc
!*.color15:      #ffffef


!*cursorColor: #9E6438
!*color0: #2E2B38
!*color1: #984E66
!*color2: #7A8C54
!*color3: #9E6438
!*color4: #395667
!*color5: #9D916B
!*color6: #536556
!*color7: #828181
!*color8: #474159
!*color9: #A86D56
!*color10: #9FB274
!*color11: #B29F5E
!*color12: #507A91
!*color13: #B89855
!*color14: #7E9982
!*color15: #BDBDA4

! Copypasta

! Normal
URxvt*keysym.Home:            \033OH
URxvt*keysym.End:             \033OF
URxvt*keysym.F1:              \033OP
URxvt*keysym.F2:              \033OQ
URxvt*keysym.F3:              \033OR
URxvt*keysym.F4:              \033OS

! Tab navigation conflict (only when using tabs)
URxvt*keysym.S-Up:            \033[1;2A
URxvt*keysym.S-Down:          \033[1;2B
URxvt*keysym.S-Right:         \033[1;2C
URxvt*keysym.S-Left:          \033[1;2D

! Alt
URxvt*keysym.M-Insert:        \033[2;3~
URxvt*keysym.M-Delete:        \033[3;3~
URxvt*keysym.M-Home:          \033[1;3H
URxvt*keysym.M-End:           \033[1;3F
URxvt*keysym.M-Page_Up:       \033[5;3~
URxvt*keysym.M-Page_Down:     \033[6;3~
URxvt*keysym.M-F1:            \033[1;3P
URxvt*keysym.M-F2:            \033[1;3Q
URxvt*keysym.M-F3:            \033[1;3R
URxvt*keysym.M-F4:            \033[1;3S
URxvt*keysym.M-F5:            \033[15;3~
URxvt*keysym.M-F6:            \033[17;3~
URxvt*keysym.M-F7:            \033[18;3~
URxvt*keysym.M-F8:            \033[19;3~
URxvt*keysym.M-F9:            \033[20;3~
URxvt*keysym.M-F10:           \033[21;3~
URxvt*keysym.M-F11:           \033[23;3~
URxvt*keysym.M-F12:           \033[24;3~
URxvt*keysym.M-Up:            \033[1;3A
URxvt*keysym.M-Down:          \033[1;3B
URxvt*keysym.M-Right:         \033[1;3C
URxvt*keysym.M-Left:          \033[1;3D
! Shift+Alt
URxvt*keysym.S-M-F1:          \033[1;4P
URxvt*keysym.S-M-F2:          \033[1;4Q
URxvt*keysym.S-M-F3:          \033[1;4R
URxvt*keysym.S-M-F4:          \033[1;4S
URxvt*keysym.S-M-F5:          \033[15;4~
URxvt*keysym.S-M-F6:          \033[17;4~
URxvt*keysym.S-M-F7:          \033[18;4~
URxvt*keysym.S-M-F8:          \033[19;4~
URxvt*keysym.S-M-F9:          \033[20;4~
URxvt*keysym.S-M-F10:         \033[21;4~
URxvt*keysym.S-M-F11:         \033[23;4~
URxvt*keysym.S-M-F12:         \033[24;4~
URxvt*keysym.S-M-Insert:      \033[2;4~
URxvt*keysym.S-M-Delete:      \033[3;4~
URxvt*keysym.S-M-Home:        \033[1;4H
URxvt*keysym.S-M-End:         \033[1;4F
URxvt*keysym.S-M-Page_Up:     \033[5;4~
URxvt*keysym.S-M-Page_Down:   \033[6;4~
URxvt*keysym.S-M-Up:          \033[1;4A
URxvt*keysym.S-M-Down:        \033[1;4B
URxvt*keysym.S-M-Right:       \033[1;4C
URxvt*keysym.S-M-Left:        \033[1;4D
! Control
URxvt*keysym.C-F1:            \033[1;5P
URxvt*keysym.C-F2:            \033[1;5Q
URxvt*keysym.C-F3:            \033[1;5R
URxvt*keysym.C-F4:            \033[1;5S
URxvt*keysym.C-F5:            \033[15;5~
URxvt*keysym.C-F6:            \033[17;5~
URxvt*keysym.C-F7:            \033[18;5~
URxvt*keysym.C-F8:            \033[19;5~
URxvt*keysym.C-F9:            \033[20;5~
URxvt*keysym.C-F10:           \033[21;5~
URxvt*keysym.C-F11:           \033[23;5~
URxvt*keysym.C-F12:           \033[24;5~
URxvt*keysym.C-Insert:        \033[2;5~
URxvt*keysym.C-Delete:        \033[3;5~
URxvt*keysym.C-Home:          \033[1;5H
URxvt*keysym.C-End:           \033[1;5F
URxvt*keysym.C-Page_Up:       \033[5;5~
URxvt*keysym.C-Page_Down:     \033[6;5~
URxvt*keysym.C-Up:            \033[1;5A
URxvt*keysym.C-Down:          \033[1;5B
URxvt*keysym.C-Right:         \033[1;5C
URxvt*keysym.C-Left:          \033[1;5D
! Shift+Control
URxvt*keysym.S-C-F1:          \033[1;6P
URxvt*keysym.S-C-F2:          \033[1;6Q
URxvt*keysym.S-C-F3:          \033[1;6R
URxvt*keysym.S-C-F4:          \033[1;6S
URxvt*keysym.S-C-F5:          \033[15;6~
URxvt*keysym.S-C-F6:          \033[17;6~
URxvt*keysym.S-C-F7:          \033[18;6~
URxvt*keysym.S-C-F8:          \033[19;6~
URxvt*keysym.S-C-F9:          \033[20;6~
URxvt*keysym.S-C-F10:         \033[21;6~
URxvt*keysym.S-C-F11:         \033[23;6~
URxvt*keysym.S-C-F12:         \033[24;6~
URxvt*keysym.S-C-Insert:      \033[2;6~
URxvt*keysym.S-C-Delete:      \033[3;6~
URxvt*keysym.S-C-Home:        \033[1;6H
URxvt*keysym.S-C-End:         \033[1;6F
URxvt*keysym.S-C-Page_Up:     \033[5;6~
URxvt*keysym.S-C-Page_Down:   \033[6;6~
URxvt*keysym.S-C-Up:          \033[1;6A
URxvt*keysym.S-C-Down:        \033[1;6B
URxvt*keysym.S-C-Right:       \033[1;6C
URxvt*keysym.S-C-Left:        \033[1;6D
! Alt+Control
URxvt*keysym.M-C-F1:          \033[1;7P
URxvt*keysym.M-C-F2:          \033[1;7Q
URxvt*keysym.M-C-F3:          \033[1;7R
URxvt*keysym.M-C-F4:          \033[1;7S
URxvt*keysym.M-C-F5:          \033[15;7~
URxvt*keysym.M-C-F6:          \033[17;7~
URxvt*keysym.M-C-F7:          \033[18;7~
URxvt*keysym.M-C-F8:          \033[19;7~
URxvt*keysym.M-C-F9:          \033[20;7~
URxvt*keysym.M-C-F10:         \033[21;7~
URxvt*keysym.M-C-F11:         \033[23;7~
URxvt*keysym.M-C-F12:         \033[24;7~
URxvt*keysym.M-C-Insert:      \033[2;7~
URxvt*keysym.M-C-Delete:      \033[3;7~
URxvt*keysym.M-C-Home:        \033[1;7H
URxvt*keysym.M-C-End:         \033[1;7F
URxvt*keysym.M-C-Page_Up:     \033[5;7~
URxvt*keysym.M-C-Page_Down:   \033[6;7~
URxvt*keysym.M-C-Up:          \033[1;7A
URxvt*keysym.M-C-Down:        \033[1;7B
URxvt*keysym.M-C-Right:       \033[1;7C
URxvt*keysym.M-C-Left:        \033[1;7D
! Shift+Alt+Control
URxvt*keysym.S-M-C-F1:        \033[1;8P
URxvt*keysym.S-M-C-F2:        \033[1;8Q
URxvt*keysym.S-M-C-F3:        \033[1;8R
URxvt*keysym.S-M-C-F4:        \033[1;8S
URxvt*keysym.S-M-C-F5:        \033[15;8~
URxvt*keysym.S-M-C-F6:        \033[17;8~
URxvt*keysym.S-M-C-F7:        \033[18;8~
URxvt*keysym.S-M-C-F8:        \033[19;8~
URxvt*keysym.S-M-C-F9:        \033[20;8~
URxvt*keysym.S-M-C-F10:       \033[21;8~
URxvt*keysym.S-M-C-F11:       \033[23;8~
URxvt*keysym.S-M-C-F12:       \033[24;8~
URxvt*keysym.S-M-C-Insert:    \033[2;8~
URxvt*keysym.S-M-C-Delete:    \033[3;8~
URxvt*keysym.S-M-C-Home:      \033[1;8H
URxvt*keysym.S-M-C-End:       \033[1;8F
URxvt*keysym.S-M-C-Page_Up:   \033[5;8~
URxvt*keysym.S-M-C-Page_Down: \033[6;8~
URxvt*keysym.S-M-C-Up:        \033[1;8A
URxvt*keysym.S-M-C-Down:      \033[1;8B
URxvt*keysym.S-M-C-Right:     \033[1;8C
URxvt*keysym.S-M-C-Left:      \033[1;8D

